@import "tailwindcss";
@import "tw-animate-css";
/* @config "../tailwind.config.ts"; */



@layer utilities {
  .bg-gradient-primary {
    @apply bg-gradient-to-r from-[#0a4890] via-[#0b78d1] to-[#45a6f5];
  }

  .bg-gradient-primary-transparent {
    @apply bg-gradient-to-r from-[#0a4890]/90 to-transparent;
  }

  .bg-gradient-light {
    @apply bg-gradient-to-r from-[#0a4890]/5 via-[#0b78d1]/5 to-[#45a6f5]/5;
  }

  /* === EFFECTS === */
  .card-hover-effect {
    @apply hover:shadow-md hover:border-[#0a4890]/20;
  }

  .button-hover-effect {
    @apply hover:bg-[#0b78d1];
  }

  /* === SPACING === */
  .section-padding-y {
    @apply py-16 md:py-20;
  }
}